<div class="container">
  <button
    (click)="click(pagination.page - 1)"
    [disabled]="pagination.page === 0"
  >
    <
  </button>
  <button
    *ngFor="let page of lowPages"
    (click)="click(page - 1)"
    [className]="page - 1 === pagination.page ? 'selected' : ''"
    [disabled]="pagination.perPage * (page - 1) > pagination.total"
  >
    {{page}}
  </button>
  <span>...</span>
  <button
    *ngFor="let page of highPages"
    (click)="click(page - 1)"
    [className]="page - 1 === pagination.page ? 'selected' : ''"
    [disabled]="pagination.perPage * (page -1) > pagination.total"
  >
    {{page}}
  </button>
  <button
    (click)="click(pagination.page + 1)"
    [disabled]="(pagination.page + 1) *pagination.perPage >= pagination.total"
  >
    >
  </button>
</div>
