.container {
  display: flex;
  align-items: center;

  * {
    font-size: 10px;
    font-weight: 700;
    height: 28px;
    width: 28px;
    background-color: var(--gray-1);
    outline: none;
    border: 1px solid var(--gray-dark);
    color: var(--gray-darker);

    &:disabled {
      opacity: 0.5;
    }
  }

  *:not(:first-child) {
    margin-left: 5px;
  }

  span {
    margin: 0 5px 0 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    background-color: transparent;
  }

  .selected {
    background-color: var(--gray-dark);
    color: var(--white);
  }

}
