<div class="my-container">
  <app-input
    type="date"
    [value]="selectedDate| date:'shortDate'"
    (clicked)="openDateSelector()"
    [tab]="tab"
    [readonly]="readonly"
  >
    <svg-icon src="assets/calendar.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
    <span i18n class="placeholder">Birth Date</span>
  </app-input>
  <div class="date-container" *ngIf="openedDateSelector">
    <dl-date-time-picker
      startView="day"
      maxView="day"
      minView="day"
      minuteStep="5"
      [(ngModel)]="selectedDate"
    >
    </dl-date-time-picker>
  </div>
</div>

