.date-container {
  border: 1px solid var(--gray-dark);
  position: absolute;
  padding: 10px 15px;
  width: 300px;
  background-color: var(--white);
  top: calc(100% + 10px);
  right: 0;
  z-index: 1000;
}

.my-container {
  display: flex;
  position: relative;
  flex: 1;
}

::ng-deep .dl-abdtp-day-view {

  border: 1px solid var(--gray-dark);

  & > div:first-child {
    background-color: var(--gray-dark);
    flex-wrap: nowrap;
    button {
      background-color: transparent;
    };

    > div {
      flex: unset;
      color: var(--white);
    }
  }

  & > div:nth-child(2) {
    & > div:first-child {
      background-color: var(--gray-1);
      padding: 8px 0;
    }
  }
}

::ng-deep .left-icon, ::ng-deep .right-icon {
  background-image: url("/assets/arrow.svg");
  width: 15px;
  background-repeat: no-repeat;
  height: 15px;
  background-size: 15px;
  display: block;
  flex-basis: 30px;
}

::ng-deep .left-icon {
  transform: rotate(90deg);
}

::ng-deep .right-icon {
  transform: rotate(-90deg);
}

:host {
  display: flex;
  flex: 1;
}
