.header-container {
  background-image: url("/assets/blur-background-image.jpg");
  height: 200px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.title-container {
  color: var(--white);
  display: flex;

  h1 {
    font-size: 70px;
    font-weight: 300;
    line-height: 60px;
  }

  b {
    font-weight: 700;
  }

  .title-description {
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;

    span {
      display: block;
      white-space: nowrap;
    }
  }
}

@media (max-width: 670px) {
  .header-container {
    height: 80px;
  }

  .title-container {
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    h1 {
      font-size: 40px;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .button {
        position: relative;

        .left {
          position: absolute;
          left: -12px;
          transform: rotate(90deg);
        }
        .right {
          position: absolute;
          right: 0;
          transform: rotate(-90deg);
        }
      }
      .button.right {
        padding-right: 10px;
      }
    }
  }
}
