<div class="header-container">
  <div class="title-container centered-container">
    <h1><b>ISU</b>Corp</h1>
    <div i18n class="title-description" *ngIf="!isMobile">
      <span>World Class</span>
      <span>Software Development</span>
    </div>
    <div class="buttons-container" *ngIf="isMobile">
      <div
        class="button {{ isReservationCreation || isContactCreation ? 'right' : ''}}"
        (click)="button1Navigate()"
      >
        <ng-container *ngIf="isReservationsList">
          <svg-icon
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="left"
          ></svg-icon>
          <span i18n>Create Reservation</span>
        </ng-container>
        <ng-container *ngIf="isContactList">
          <svg-icon
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="left"
          ></svg-icon>
          <span i18n>Create Contact</span>
        </ng-container>
        <ng-container *ngIf="isReservationCreation">
          <span i18n >List Reservations</span>
          <svg-icon
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="right"
          ></svg-icon>
        </ng-container>
        <ng-container *ngIf="isContactCreation">
          <span i18n>List Contacts</span>
          <svg-icon
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="right"
          ></svg-icon>
        </ng-container>
      </div>
      <div class="button" (click)="button2Navigate()" *ngIf="showSecondaryButton">
        <svg-icon
          *ngIf="isReservationsList || isContactList"
          src="assets/arrow.svg"
          [svgStyle]="{ 'width.px':10 }"
          class="left"
        ></svg-icon>
        <span i18n *ngIf="isReservationsList">List Contacts</span>
        <span i18n *ngIf="isContactList">List Reservations</span>
      </div>
    </div>
  </div>
</div>
