.my-container {
  border: 1px solid var(--gray-dark);
  padding: 10px 15px;
  display: flex;
  position: relative;
  max-height: 54px;
  flex-grow: 1;

  .input {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-grow: 1;
  }

  ::ng-deep svg path {
    fill: var(--gray-dark);
  }

  .arrow {
    cursor: pointer;
  }

  ::ng-deep input {
    border: none;
    outline: none;
    color: var(--gray-darker);
    font-weight: 600;
    background: transparent;
    z-index: 1;
    width: 100%;
  }

  ::ng-deep .placeholder {
    position: absolute;
    left: 0;
    color: var(--gray-dark);
    bottom: 2px;
    z-index: 0;
    white-space: nowrap;
    user-select: none;
  }

  .select-container {
    position: absolute;
    top: calc(100% + 10px);
    border: 1px solid var(--gray-dark);
    width: 100%;
    padding: 10px 15px;
    display: flex;
    background-color: var(--white);
    left: 0;
    z-index: 1000;

    ::ng-deep .options {
      width: 100%;
    }

    ::ng-deep span {
      display: block;
      width: 100%;
      padding: 0 5px;
      border-radius: 5px;
      line-height: 25px;
      &:hover {
        background-color: var(--gray-dark);
        color: var(--white);
        cursor: pointer;
      }
    }
  }
}

.selection {
  cursor: pointer;

  input {
    cursor: pointer;
  }
}

:host {
  display: flex;
  flex:1
}

::ng-deep .error {
  display: block;
  white-space: nowrap;
  position: absolute;
  top: -40%;
  font-size: 14px;
  color: var(--red);
}
