<div class="my-container {{className}}">
  <ng-content select="svg-icon"></ng-content>
  <div (click)="sendClicked()" class="input {{type === 'select' || type === 'date' ? 'selection' : ''}}">
    <input
      type="text"
      [(ngModel)]="value"
      [readOnly]="type === 'select' || type === 'date' || readonly"
      [tabIndex]="tab"
    >
    <ng-content select=".error"></ng-content>
    <ng-content *ngIf="showPlaceholder()" select="span.placeholder"></ng-content>
    <svg-icon
      *ngIf="type === 'select'"
      src="assets/arrow.svg"
      [svgStyle]="{ 'width.px':10 }"
      class="arrow"
    ></svg-icon>
  </div>

  <div class="select-container" *ngIf="type === 'select' && optionsOpened">
    <ng-content select=".options"></ng-content>
  </div>
</div>
