<div class="my-container">
  <svg-icon
    src="assets/cross.svg"
    [svgStyle]="{ 'width.px':20 }"
    class="remove-icon"
    (click)="remove()"
  ></svg-icon>
  <div class="name-container">
    <img src="assets/mock-image.png" *ngIf="!isMobile">
    <div class="info">
      <span>{{reservation.name}}</span>
      <span class="date">{{reservation.creationTime | date:'EEEE LLL d h:HH aa' }}</span>
    </div>
  </div>

  <div class="ranking-container" *ngIf="!isMobile">
    <span i18n>Ranking</span>
    <app-stars
      [stars]="reservation.ranking"
      (rankingClicked)="rankingClicked($event)"
    ></app-stars>
  </div>

  <div class="favorites-container">
    <span
      i18n
      [class]="reservation.favorite ? 'favorite': ''"
      (click)="favoriteClicked()"
      *ngIf="!isMobile"
    >
      Add Favorites
    </span>
    <svg-icon
      src="assets/hearth.svg"
      [svgStyle]="{ 'width.px':35 }"
      [className]="reservation.favorite? 'favorite': ''"
      (click)="favoriteClicked()"
    >
    </svg-icon>
  </div>

  <app-button (click)="editClicked()"><span i18n>Edit</span></app-button>
</div>
