.my-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: var(--gray-1);
  padding: 10px 10px 10px 40px;
  position: relative;

  .remove-icon {
    position: absolute;
    left: 10px;
    cursor: pointer;
  }


  .name-container {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    flex-basis: 33%;

    > img {
      width: 50px;
    }
    span {
      display: block;
      margin-left: 20px;
    }

    .date {
      color: var(--gray-dark);
      font-size: 16px;
    }
  }

  .ranking-container {
    span {
      display: block;
    }
  }

  .favorites-container {
    cursor: pointer;

    .favorite {
      color: var(--gray-dark);
      cursor: auto;
    }

    svg-icon {
      margin: 10px;
      fill: var(--gray-darker);

      &.favorite {
        fill: var(--red);
      }
    }
  }
}
@media (max-width: 670px) {
  .my-container {
    padding-left: 15px;

    .remove-icon {
      left: 8px;
    }

    .name-container {
      flex-basis: 53%;
    }
  }
}
