<app-top-bar>
  <h1 i18n>Reservations List</h1>
  <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
  <app-button *ngIf="!isMobile" (click)="listContactsClicked()" size="big">
    <span i18n>List Contacts</span>
  </app-button>
</app-top-bar>

<span *ngIf="showNoContactFoundMessage" class="no-found">No contact found. Redirecting ...</span>

<span *ngIf="contact" class="contact-name" i18n>Reservations from {{contact.name}}</span>

<div class="centered-container">
  <div class="list">
    <div class="buttons-container">
      <app-sort-input class="m-1" [className]="'reservation-list-sort-input'" (sortChange)="sortChanged($event)"></app-sort-input>
      <div *ngIf="!isMobile" class="flex-container">
        <app-button class="m-1" *ngIf="contact" size="big" (click)="goToAllReservations()">
          <span i18n>List All Reservations</span>
        </app-button>
        <app-button class="m-1" (click)="createReservation()" size="big" >
          <span i18n>Create Reservation</span>
        </app-button>
      </div>
    </div>
    <div class="mt-4 ">
      <app-reservation class="reservations-container" *ngFor="let r of reservations" [reservation]="r"></app-reservation>
    </div>

    <div class="paging">
      <app-pagination [pagination]="pagination" (pageClicked)="pageClicked($event)"></app-pagination>
    </div>
  </div>
</div>
