.list {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--white);
}

.paging {
  margin-top: 80px;
}

::ng-deep .reservation-list-sort-input {
  max-width: 300px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-name {
  text-align: center;
  display: block;
  margin: 20px;
  font-size: 20px;
  color: var(--gray-darker);
}

.flex-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
    align-items: flex-end;
  }

  ::ng-deep .reservation-list-sort-input {
    max-width: none;
  }
}

@media (max-width: 670px) {
  .list {
    padding: 0;
    margin-top: 0;
  }
  .buttons-container {
    padding: 5px 20px;
  }

  ::ng-deep .reservations-container:nth-child(2n) .my-container {
    background-color: var(--gray-2);
  }
  ::ng-deep .reservations-container:nth-child(2n + 1) .my-container {
    background-color: var(--gray-1-5);
  }

  .paging {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
  }
}

