<app-input type="select" [(value)]="text" className="{{className}}" [tab]="tab" [readonly]="readonly">
  <svg-icon src="assets/geolocalization.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
  <span i18n class="placeholder">Contact Type</span>
  <div class="options" #options>
    <span i18n (click)="clicked($event)" value="0">Contact type 1</span>
    <span i18n (click)="clicked($event)" value="1">Contact type 2</span>
    <span i18n (click)="clicked($event)" value="2">Contact type 3</span>
  </div>
</app-input>
