.button {
  white-space: nowrap;
  padding: 0 30px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  font-weight: 600;
  outline: none;
  flex: 1;

  &:disabled {
    opacity: 0.5;
  }
}

.big {
  height: 50px;
}

.normal {
  height: 34px;
}

.small {
  height: 34px;
  padding: 0 5px;
}

.gray {
  background: var(--gray-dark);
}

.red {
  background-color: var(--red);
}

@media (max-width: 670px) {
  .normal {
    height: 45px;
    padding: 0px 20px;
  }
}
