<app-top-bar>
  <h1 i18n>Contacts List</h1>
  <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
  <app-button (click)="listReservationsClicked()" size="big">
    <span i18n>List Reservations</span>
  </app-button>
</app-top-bar>

<div class="centered-container">
  <div class="contacts-container">
    <div class="buttons-container" *ngIf="!isMobile">
      <app-button (click)="createContactClicked()" size="big">
        <span i18n>Create Contact</span>
      </app-button>
    </div>

    <div class="grid-headers-container">
      <div class="cells-wrapper">
        <div
          (click)="sort('name')"
          class="cell {{getSortClass('name')}}"
        >
          <span i18n>Contact Name</span>
          <svg-icon
            *ngIf="getSortClass('name')"
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="arrow"
          ></svg-icon>
        </div>
        <div
          *ngIf="!isMobile"
          (click)="sort('phoneNumber')"
          class="cell {{getSortClass('phoneNumber')}}"
        >
          <span i18n>Phone Number</span>
          <svg-icon
            *ngIf="getSortClass('phoneNumber')"
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="arrow"
          ></svg-icon>
        </div>
        <div
          *ngIf="!isMobile"
          (click)="sort('birthDate')"
          class="cell {{getSortClass('birthDate')}}"
        >
          <span i18n>Birth Date</span>
          <svg-icon
            *ngIf="getSortClass('birthDate')"
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="arrow"
          ></svg-icon>
        </div>
        <div
          (click)="sort('contactType')"
          class="cell {{getSortClass('contactType')}}"
        >
          <span i18n>Contact Type</span>
          <svg-icon
            *ngIf="getSortClass('contactType')"
            src="assets/arrow.svg"
            [svgStyle]="{ 'width.px':10 }"
            class="arrow"
          ></svg-icon>
        </div>
        <span class="cell invisible"></span>
      </div>
    </div>

    <div class="grid-row clickable" *ngFor="let contact of contacts" (click)="editContact(contact.contactId)">
      <svg-icon
        src="assets/cross.svg"
        [svgStyle]="{ 'width.px':20 }"
        class="remove-icon"
        (click)="removeContact(contact.contactId)"
      ></svg-icon>
      <div class="cells-wrapper">
        <span class="cell">{{contact.name}}</span>
        <span *ngIf="!isMobile" class="cell">{{contact.phoneNumber}}</span>
        <span *ngIf="!isMobile" class="cell">{{contact.birthDate | date:'shortDate'}}</span>
        <span class="cell" i18n>Contact Type {{contact.contactType + 1}}</span>
        <app-button *ngIf="!isMobile" (click)="showReservationsByContact(contact.contactId)" size="normal" class="cell">
          <span i18n>Reservations</span>
        </app-button>
        <svg-icon
          (click)="showReservationsByContact(contact.contactId)"
          *ngIf="isMobile"
          src="assets/reservation.svg"
          [svgStyle]="{ 'width.px':30 }"
        ></svg-icon>
      </div>
    </div>

    <div class="mt-4 paging">
      <app-pagination [pagination]="pagination" (pageClicked)="pageClicked($event)"></app-pagination>
    </div>
  </div>
</div>
