.contacts-container {
  margin-top: 20px;
  background-color: var(--white);
  padding: 10px;
}

.grid-headers-container {
  display: flex;
  justify-content: space-around;

  ::ng-deep svg {
    margin-left: 5px;
    path {
      fill: var(--gray-dark);
    }
  }
  .up-sort ::ng-deep svg {
    transform: rotate(180deg);
  }
}

.grid-row {
  display: flex;
  background-color: var(--gray-1);
  margin-top: 10px;
  justify-content: center;
  height: 45px;
  align-items: center;
  position: relative;

  .remove-icon {
    position: absolute;
    left: 5px;
  }
}

.cells-wrapper {
  display: flex;
  flex-basis: 90%;
  justify-content: space-between;

  .cell {
    display: block;
    flex-basis: 5px;
    flex-grow: 1;
    align-self: center;
  }

  .cell:last-child{
    flex-grow: 0;
    flex-basis: 175px;
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 670px) {
  .cells-wrapper {
    flex-basis: 84%;

    .cell:last-child {
      flex-basis: 30px;
    }
  }

  .grid-row:nth-child(2n) {
    background-color: var(--gray-1-5);
  }
  .grid-row:nth-child(2n + 1) {
    background-color: var(--gray-2);
  }

  .contacts-container {
    padding: 10px 0;
  }

  .remove-icon {
    left: 10px;
  }

  .paging {
    display: flex;
    justify-content: center;
  }
}

