<app-top-bar>
  <h1 *ngIf="isCreating()" i18n>Create Contact</h1>
  <h1 *ngIf="!isCreating()" i18n>Edit Contact</h1>
  <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
  <app-button (click)="goToContactsList()" size="big">
    <span i18n>List Contact</span>
  </app-button>
</app-top-bar>

<span *ngIf="showNoContactFound" class="no-found">No contact found. Redirecting ...</span>

<div class="centered-container" [formGroup]="reservationForm">
  <div class="my-container flex-column p-1 mt-4">
    <div class="my-container">
      <app-input class="m-1" formControlName="name" tab="1">
        <svg-icon src="assets/contact.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
        <span i18n class="placeholder">Contact Name</span>
        <span *ngIf="showDuplicatedNameError" class="error" i18n>Duplicated name value</span>
      </app-input>
      <app-contact-type
        class="m-1"
        formControlName="contactType"
        tab="2"
      ></app-contact-type>
    </div>
    <div class="my-container">
      <app-input class="m-1" formControlName="phoneNumber" tab="3">
        <svg-icon src="assets/phone.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
        <span i18n class="placeholder">Phone</span>
      </app-input>
      <app-date-picker-input class="m-1" formControlName="birthDate" tab="3"></app-date-picker-input>
    </div>
  </div>
  <div class="mt-4 d-flex justify-content-end submit-container">
    <app-button
      class="{{isMobile? 'd-flex flex-grow-1': ''}}"
      (click)="submitClick()"
      [disabled]="reservationForm.invalid || showDuplicatedNameError || showNoContactFound || fetching"
      color="red" size="big"
    >
      <span i18n>Send</span>
    </app-button>
  </div>
</div>
