
@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 670px) {
  .my-container {
    flex-direction: column;
    margin: 10px 10px 0 10px !important;
    margin-top: 0 !important;

    &:first-child {
      margin-top: 10px !important;
    }
  }

  .submit-container {
    margin: 0 10px 10px 10px !important;
    background-color: var(--white);
    padding-top: 30px;
  }
}
