<app-input type="select" [(value)]="text" [className]="className">
  <svg-icon src="assets/sort.svg" [svgStyle]="{ 'width.px':28 }"></svg-icon>
  <span i18n class="placeholder">Sort By</span>
  <div class="options">
    <span i18n (click)="clicked($event)" value="1">By Date Ascending</span>
    <span i18n (click)="clicked($event)" value="2">By Date Descending</span>
    <span i18n (click)="clicked($event)" value="3">By Alphabetic Ascending</span>
    <span i18n (click)="clicked($event)" value="4">By Alphabetic Descending</span>
    <span i18n (click)="clicked($event)" value="5">By Ranking</span>
  </div>
</app-input>
