<div class="header-container centered-container">
  <ng-content select="h1"></ng-content>
  <ng-content select="span"></ng-content>
  <ng-content *ngIf="!isMobile" select="app-button"></ng-content>
</div>
