.header-container {
  display: flex;
  height: 100px;
  background-color: var(--white);
  justify-content: space-between;

  ::ng-deep > * {
    margin-top: 22px;
  }

  ::ng-deep h1 {
    color: var(--red);
    font-weight: 600;
    white-space: nowrap;
    font-size: 28px;
    line-height: 30px;
  }

  ::ng-deep .description {
    color: var(--gray-dark);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    max-width: 360px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 670px) {
  .header-container {
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
    padding: 0 20px;

    ::ng-deep > * {
      margin-top: 5px;
    }

    ::ng-deep h1 {
      font-size: 32px;
    }

    ::ng-deep .description {
      margin: 0;
    }
  }
}
