@import '~bootstrap/dist/css/bootstrap.min.css';

@import "./shared/styles/colors";


.centered-container {
  padding: 0 25% 0 25%;
}

@media (max-width: 1570px) {
  .centered-container {
    padding: 0 10% 0 10%;
  }
}

@media (max-width: 1000px) {
  .centered-container {
    padding: 0 5px 0 5px;
  }
}

@media (max-width: 670px) {
  .centered-container {
    padding: 0;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: "Open Sans", Serif;
  background-color: var(--gray-1);
  font-weight: 600;
  color: var(--gray-darker);
}

.my-container {
  background-color: var(--white);
  display: flex;
}

.no-found {
  margin-top: 20px;
  display: block;
  font-size: 22px;
  text-align: center;
}

.clickable {
  cursor: pointer;
}
