<app-top-bar>
  <h1 *ngIf="isCreating()" i18n>Create Reservation</h1>
  <h1 *ngIf="!isCreating()" i18n>Edit Reservation</h1>
  <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
  <app-button (click)="goToReservations()" [size]="'big'" >
    <span i18n>Reservation List</span>
  </app-button>
</app-top-bar>

<span *ngIf="showNoReservationFound" class="no-found">No reservation found. Redirecting ...</span>

<div class="centered-container" [formGroup]="reservationForm">
  <div class="my-container p-1 mt-4" formGroupName="contact">
    <div class="flex-container mx-1">
      <app-input formControlName="name" tab="1" [readonly]="isEditing() || isOnCreationByContact()">
        <svg-icon src="assets/contact.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
        <span i18n class="placeholder">Contact Name</span>
      </app-input>
      <app-contact-type
        formControlName="contactType"
        tab="2"
        [readonly]="isEditing() || isOnCreationByContact()"
      ></app-contact-type>
    </div>
    <div class="flex-container mx-1">
      <app-input formControlName="phoneNumber" tab="3" [readonly]="isEditing() || isOnCreationByContact()">
        <svg-icon src="assets/phone.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
        <span i18n class="placeholder">Phone</span>
      </app-input>
      <div class="date-container">
        <app-date-picker-input formControlName="birthDate" tab="3" [readonly]="isEditing() || isOnCreationByContact()"></app-date-picker-input>
      </div>
    </div>
  </div>

  <ng-container formGroupName="reservation">
    <div class="reservation-container p-1 mt-4">
      <app-input formControlName="name">
        <svg-icon src="assets/reservation.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
        <span i18n class="placeholder">Reservation Name</span>
      </app-input>
    </div>

    <div class="my-container mt-1">
      <app-rich-text-editor formControlName="description"></app-rich-text-editor>
    </div>
  </ng-container>


  <div class="submit-container mt-4">
    <app-button
      class="{{isMobile ? 'd-flex flex-grow-1': ''}}"
      (click)="submitClick()"
      [disabled]="submitDisabled()"
      color="red"
      size="big"
    >
      <span i18n>Send</span>
    </app-button>
  </div>
</div>
