.date-container {
  display: flex;
  flex: 0.6;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.reservation-container {
  background-color: var(--white);
  width: fit-content;
}

.flex-container {
  display: flex;
  flex: 1;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 670px) {
  .my-container {
    flex-direction: column;
    margin: 10px 10px 0 10px !important;
    margin-top: 0 !important;
    padding: 13px;

    &:first-child {
      margin-top: 10px !important;
    }
  }

  .flex-container > * {
    margin: 5px;
  }

  .reservation-container {
    margin: 0 10px !important;
    padding: 0 13px !important;
    display: flex;
    width: auto;
  }

  ::ng-deep div.tox {
    border: 1px solid var(--gray-dark);
  }

  .submit-container {
    margin: 0 10px 10px 10px !important;
    background-color: var(--white);
    padding-top: 30px;
  }
}

